﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Email</h1>
    <p>Your Role: <a href="https://docs.microsoft.com/aspnet/core">@ViewBag.Role</a>.</p>
</div>
